html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-error {
  color: #ff1c1c;
}

.avatar-block{
  width: 9.8em;
  height: 9.8em;
}

.ml-1{
  margin-left: 0.8em;
}

.avatar-block{
  width: 9.8em;
  height: 9.8em;
}

.ml-1{
  margin-left: 0.8em;
}

.border-radius-1{
  border-radius: 1.4em;
}

.comment-user-avatar{
  width: 1.9em;
  height: 1.9em;
}

.ml-2 {
  margin-left: 1.4em;
}

.chat {
  height: 80vh;
  overflow-y: scroll;
  background-color: #f8f9fa;
}

.message-button {
  flex-basis: 20%;
}